/* CSS Reset: Resets the website across all browsers for a smoother experience */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Main Code Starts From Here */


html,
body {
    height: 100%;
    color: #F5F5F5;
    font-family: Raleway, sans-serif;
    background-color: #F5F5F5;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#B76D68, #EBB478);
    border-radius: 6px;
}

/* Background Image */
.cover-container {
    background-image: url("https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar,
#navItems a,
.navbar-brand,
.navbar-toggler-icon {
    font-size: 1.2em;
    color: #E1DEE9;
    font-weight: 100;
    font-family: 'Poppins';
    background-color: transparent;
    flex-direction: row;
}

.navbar #navItems a:hover {
    color: #59CD90;
}

/* For Reversing the way elements (Home, About Us, Designs) appears on the NavBar */
#navbarNav {
    flex-direction: row-reverse;
    padding-right: 1.5em;
}

.navbar.scrolled {
    background-color: #1D1E2C;
    transition: background 500ms;
}

/* Button Styles */
.btn-secondary {
    background-color: #12152B;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: #1A3737;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
}

/* Box on the images */
#main-cover {
    background: transparent;
    padding: 3em 3em;

    /* 27 */
    font-family: 'Lato', sans-serif;
    max-width: 42em;
}

.welcome {
    font-size: 3.3em;
    letter-spacing: 0.21em;
    font-family: 'Aboreto';
}

.tagline {
    color: #59CD90;
    font-size: 1.5em;
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: underline;
}

#xyz {
    background-color: #E1DEE9;
    padding-bottom: 100px;
    color: #121420;
}

#xyz img {
    padding: 3em 2.4em;
}

#section2 {
    background-color: #8A4FFF;
}

#section2 img {
    padding: 3em 2.4em;
}



footer {
    font-size: 2.1em;
    font-family: 'Lato', sans-serif;
}

footer a {
    text-decoration: none;
    color: #59CD90;
    padding: 0px 0.9em;
}

footer a:hover {
    color: #E1DEE9;
}

footer li {
    padding-top: 0.3em;
}

#socials {
    padding: 0px 0.6em;
    padding-top: 0.45em;
    font-size: 1.11em;
    color: #E1DEE9;
}

.oladj {
    padding-left: 0.5rem;
    font-size: 0.75em;
}

.webname {
    padding-left: 0.81em;
    font-size: 1.11em;
    padding-top: 0.75em;
}

#about {
    text-align: start;
    font-size: 0.6em;
}

#about h3 {
    color: #F5F5F5;
    padding-left: 0.9em;
    font-size: 1.8em;
}

#button-class {
    margin: 0px 0px;
    padding: 0px 0px;
}

.newsh3 {
    font-size: 1.11em;
    padding-right: 1.5em;
}

#newsletter button {
    justify-self: flex-start;
    width: 5.1em;
    margin-left: 0.6em;
    margin-bottom: 0.3em;
    height: 2.4em;
    margin-top: 0em;
}

.copyright {
    font-size: 0.45em;
    padding-top: 3em;
}