/* CSS Reset: Resets the website across all browsers for a smoother experience */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* Main Code Starts From Here */


html,
body {
  height: 100%;
  font-family: Raleway, sans-serif;
  background-color: #E1DEE9;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#B76D68, #EBB478);
  border-radius: 6px;
}

.navbar,
#navItems a,
.navbar-brand,
.navbar-toggler-icon {
  font-size: 1.2em;
  color: #1D1E2C;
  font-weight: 100;
  font-family: 'Poppins';
  background-color: transparent;
  flex-direction: row;
}

.navbar #navItems a:hover {
  color: #59CD90;
}

/* For Reversing the way elements (Home, About Us, Designs) appears on the NavBar */
#navbarNav {
  flex-direction: row-reverse;
  padding-right: 1.5em;
}

.navbar.scrolled {
  background-color: #FC814A;
  transition: background 500ms;
}

/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL */
#myCarousel {
  padding-top: 0.15em;
  padding-bottom: 0.9em;
}

.car1 {
  background-image: url("https://images.unsplash.com/photo-1596436889106-be35e843f974?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60em;
}

.carcon {
  background-color: #1D1E2C;
  padding: 1.5em 3.6em;
  border-radius: 12px;
  opacity: .90;
  position: relative;
  top: 30em;
  left: 28.5em;
  width: 60em;
}

.car2 {
  background-image: url("https://images.unsplash.com/photo-1653972233597-05822baa3c4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60em;
}

.car3 {
  background-image: url("https://images.unsplash.com/photo-1654052085358-ba452d95bf58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1460&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60em;
}

.slide {
  height: 60em;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 60em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #1D1E2C;
  opacity: 0.30;
  margin-top: 0.15em;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #1D1E2C;
  opacity: 0.57;
}

#opacity:hover {
  opacity: 1;
}

/* Horizontal Line CSS */
.hrline {
  color: #FC814A;
  padding: 0.06em;
  margin: 2.1em 3em;
}

/* Searchbox CSS */
#search_box {
  position: relative;
  width: 350px;
  display: inline-block;
  padding-left: 2.1em;
}

#search_box input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border-radius: 25px;
  outline: none;


  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
}

input:focus {
  box-shadow: 0 0 5px orange;
  border: 1px solid orange;
}

#search_box svg {
  color: black;
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 4%;
  transition: 1s;
}

#search_box svg:hover {
  color: orange;
}

#grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img {
  width: 30%;
  height: 21em;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
}

.searchboxh2 {
  display: inline-block;
  padding-left: 1.05em;
  padding-right: 36em;
  color: #121420;
  padding-bottom: 0.9em;
}

/* Footer CSS*/
footer {
  font-size: 2.1em;
  font-family: 'Lato', sans-serif;
}

footer a {
  text-decoration: none;
  color: #59CD90;
  padding: 0px 0.9em;
}

footer a:hover {
  color: #E1DEE9;
}

footer li {
  padding-top: 0.3em;
}

#socials {
  padding-left: 3.3em;
  padding-top: 0.45em;
  font-size: 1.11em;
  color: #E1DEE9;
}

.oladj {
  padding-right: 2.1em;
  font-size: 0.75em;
  text-align: center;
}

.webname {
  padding-left: 0.81em;
  font-size: 1.11em;
  padding-top: 0.75em;
  color: #E1DEE9;
}

#about {
  text-align: start;
  font-size: 0.6em;
}

#about h3 {
  color: #F5F5F5;
  padding-left: 0.9em;
  font-size: 1.8em;
}

#button-class {
  margin: 0px 0px;
  padding: 0px 0px;
}

.newsh3 {
  color: #E1DEE9;
  padding-left: 3.45em;
}

.newsh3 h3 {
  font-size: 1.15em;
}

#newsletter button {
  justify-self: flex-start;
  width: 5.1em;
  margin-left: 0.6em;
  margin-bottom: 0.3em;
  height: 2.4em;
}

.copyright {
  font-size: 0.45em;
  color: #E1DEE9;
  padding-top: 3em;
  padding-left: 55.8em;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media(max-width:1280px) {
  .container {
    width: 100%;
  }
}

@media(max-width:768px) {
  #main {
    width: 95%;
  }

  .img {
    width: 100%;
  }

  #header {
    margin: 10px 0;
    padding: 20px;
    gap: 10px;
    justify-content: center;
  }

  #header h2 {
    padding: 5px 0;
  }
}

@media(max-width:480px) {
  #header h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  #search_box {
    width: 80%;
    margin: auto;
  }

  #search_box input {
    font-size: .7rem;
  }
}